cassandra-driver==3.23.0
datacompy==0.7.1
jsonschema==3.2.0
numpy==1.16.2
openpyxl==3.0.3
pandas==1.0.3
pyarrow==0.16.0
pyspark==3.0.1
pytest==6.2.1
pytest-mock==3.4.0
PyYAML==5.4
requests==2.23.0
urllib3==1.26.5
